<h2>Edit this Vacation Collection</h2>

<break>
<form action="/collections/<%=@collection.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH">
  <label><p>Destination: <input type="text" name="destination" value=<%=@collection.destination%>></p></label>
  <label><p>Start Date: <input type="text" name="start_date" value=<%=@collection.start_date%>></p></label>
  <label><p>End Date: <input type="text" name="end_date" value=<%=@collection.end_date%>></p></label>
  <label><p>Trip Summary: <input type="text" name="trip_summary" value=<%=@collection.trip_summary%></p></label>
  <label><p><input class="buttons" type="submit" value= "Edit Collection"></label></p>
</form>
</break>

<p><a class="button" href="/collections">View all Collections</a></p>
<p><a class="button" href="/users/:slug">Home</a></p>
